<form  method="POST" action="/create" >
<label>name </label>
</br>
<input type="text" name = "name"/></br>
<label>color</label></br>
<input type="text" name = "color"/></br>
<label>Size</label></br>
<input type="text" name = "size"/></br>
<input type="submit"/>
</form>